<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="GeekMemberConnectionString" connectionString="Server=it-security-167620.mysql.binero.se;Database=167620-it-security;User=167620_ix71113;Password=Potatis123;"  providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <pages styleSheetTheme="Site" masterPageFile="~/Shared/MasterPages/Site.master">
      <controls>
        <add tagName="MemberEdit" tagPrefix="my" src="~/Shared/UserControls/MemberEdit.ascx" />
        <add tagName="PostEdit" tagPrefix="my" src="~/Shared/UserControls/PostEdit.ascx" />
        <add tagName="CommentEdit" tagPrefix="my" src="~/Shared/UserControls/CommentEdit.ascx" />
        <add tagName="MainMenu" tagPrefix="my" src="~/Shared/UserControls/MainMenu.ascx" />
      </controls>
    </pages>
      <customErrors defaultRedirect="Error.htm" mode="Off">
          <error statusCode="500" redirect="Error.htm"/>
      </customErrors>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>

